
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
/* change the rule properties */
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #c3bcbc;
}
/* change the drag element properties */
.jScrollPaneDrag {
	position: absolute;
	background: #235498;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

/* change height for arrow up */
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background-color: #666;
	height: 27px;
	
}

/* color for mouse over go up */
a.jScrollArrowUp:hover {
   /* background-color: #f60;*/
}

/* change height for arrow down */
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background-color: #666;
	height: 27px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
